<!DOCTYPE html>
{% load static %}
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login/Signup</title>

      <link rel="stylesheet" href="{% static 'todo/css/stylelogin.css' %}">
</head>

<body>

  <div class="label-container">
  <label for="toggle-log" class="toggle">Login</label>
  <label for="toggle-sign" class="toggle">Sign up</label>
</div>

<div class="container">  
  <input type="radio" name="toggles" id="toggle-log" class="toggle" checked="checked" />
  <input type="radio" name="toggles" id="toggle-sign" class="toggle" />
  

  <div class="panel" id="login">
    <form method="POST" action="{% url 'login' %}">
     {% csrf_token %}
    <label for="log-email" >Email</label>
    <input id="log-email" name="email">
    <label for="log-pass" >Password</label>
    <input type="password" id="log-pass" name="password">

    <button type="submit">Login</button>
    </form>
  </div>


 
  <div class="panel" id="signup">
     <form method="POST" action="{% url 'register' %}">
      {% csrf_token %}
    <label for="sign-email" >Email</label>
    <input id="sign-email" name="email" />
    <label for="sign-pass" >Password</label>
    <input type="password" id="sign-pass" name="password"/>
    <label for="sign-name" >Name</label>
    <input type="text" id="sign-name" name="name"/>

    <button type="submit">Sign up</button>
    </form>
  </div>

</div>

<a href="https://dribbble.com/shots/2287561-Login-Sign-Up-Interface" target="_blank">Inspiration</a>
  
  

</body>

</html>
